
@{
    ViewBag.Title = "Index";
}

<h2>Администрирование</h2>
<div class="low-flex">
    <div class="btn btn-primary">
        @Html.ActionLink("Управление категориями","Index","Category")
    </div>
    <div class="btn btn-primary">
        @Html.ActionLink("Управление товарами", "Index", "Products")
    </div>
    <div class="btn btn-primary">
        @Html.ActionLink("Управление заказами","Index","Purchases")
    </div>
    <div class="btn btn-primary">
        @Html.ActionLink("Управление пользователями","Index","Users")
    </div>
</div>
